
.train-schedule {
    &-card {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        height: 100%;
        position: sticky;
        top: 50px;
        padding: 10px;

        &-train {
            width: 340px;
            height: 50px;
            display: flex;
            padding-left: 10px;
            // justify-content: center;
            align-items: center;

            input {
                width: 50px;
                margin-right: 15px;
                height: 30px;
                border : 0.5px solid gray;
            }

            span {
                margin-left: 25px;
            }
            
            button {
                padding: 5px;
                border-radius: 5px;
            }
        }

        &-delay-instruction {
            padding-left: 10px;
        }
    }
}

