

.train-dashboard {
    color: whitesmoke;
    padding-bottom: 50px;

    h1 {
        text-align: center;
    }

    table {
        tr {
            th, td {
                padding: 10px;
                text-align: center;
                border: 1px solid whitesmoke;
            } 
        }


    }
}